# macOS system files
.DS_Store
._*
.AppleDouble
.Spotlight-V100
.Trashes

# Python cache
__pycache__/
*.pyc
*.pyo

# Cursor / VSCode
.vscode/
.history/

# virtual envs
.env/
.venv/
venv/
env/
# conda envs（避免误加）
*conda*/envs/
# jupyter
.ipynb_checkpoints/


